@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    194 Tile cross Rd<br />
    Birmingham, UK B33 0LT<br />
    <abbr title="Phone">P:</abbr>
    07459134365
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dinev.trifon@gmail.com">dinev.trifon@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dinev.trifon@gmail.com">dinev.trifon@gmail.com</a>
</address>